NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://nationalparks"
           xmlns:tns="http://nationalparks"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:element name="NationalParks" type="tns:NationalParksType" />

  <xs:complexType name="NationalParksType">
    <xs:sequence>
      <xs:element name="NationalPark" type="tns:NationalParkType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NationalParkType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="Phone" type="tns:PhoneType" minOccurs="1" maxOccurs="unbounded" />
      <xs:element name="Address" type="tns:AddressType" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="Rating" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="Number" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="Street" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="City" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="State" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="Zip" type="xs:string" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="NearestAirport" type="xs:string" use="required" />
  </xs:complexType>

  <xs:simpleType name="PhoneType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

</xs:schema>
